<p>Hi <%= @owner %></p>


<p>I would be interested to joint the event you orgainzed:</p>
<p>Date: <%= @itinary.date%></p>
<p>From: <%= @itinary.start%></p>
<p>To: <%= @itinary.end%></p>

<p>You can email me at: <%= mail_to @user%></p>
