<h1>Event invitation</h1>

<p> Hi <%= @p_email %> </p>
<p>
  You are invited to join a downwind event the  <%= @event.itinary.date %>:</p>
  <ul>
    <li>from: <%= @event.itinary.start %></li>
    <li>to: <%= @event.itinary.end %></li>
  </ul>   
  <br>
  The participants are:
<ul>
  <% if @event.participants %>
    <% @event.participants.each do |participant| %>
      <li><%= participant['email'] %></li>
    <% end %>
  <% end %>
</ul>

<p>You can download the app and turn on notifications</p>
<p>Visit us at  <%= link_to 'GoDownWind.online', root_url %> </p>

<p>
You can create an event and invite other users.</p>
<p>
To create an event, you need to put a date, a starting point and an end point.
</p>
<p>
You can invit  and select several participants, and even send a picture
to help people to localize a place.
</p>
<p>
When you save the event, the members will receive an invitation by email.
</p>
<br/>
<p>Enjoy your ride!</p>
<p>Cheers</p>
<a href="https://godownwind.online">go downwind!</a>

